* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* .app {
    display: flex;
} */
/* .contact-card {
    margin: 10px;
    width: 450px;
    background-color: blue;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
} */

section {
    padding: 20px;
}

.img {
    background-color: #222222;
    height: 200px;
    width: 100%;
}

.navbar {
    padding: 22px 30px;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

.navbar--logo {
    max-width: 100px;
    width: 82px;
    height: 25px;
}

.hero {
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
}

.hero--img {
    align-self: center;
    width: 100%;
}

.hero--txt {
    align-self: left;
    font-family: 'Poppins';
    font-style: normal;
    line-height: 110%;
}
.hero--txt > h1 {
    margin-top: 35px;
    font-weight: 600;
    font-size: 36px;   
}

.hero--txt > p {
    margin-top: 0;
    max-width: 320px;
    font-weight: 300;
    font-size: 16px;
    color: #222222;
}

.card--list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    padding-left: 80px;
}
.card {
    position: relative;
    width: 175px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    font-size: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
}

.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card--status {
    display: flex;
    align-items: center;
}

.card--status > img {
    height: 14px;
}

.status {
    position: absolute;
    top: 6px;
    left: 6px;
    /* width: 90px;
    height: 20px; */
    padding: 0px 10px;
    background: #FFFFFF;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    color: #222222;
}

.gray {
    color: #918E9B;
}

/* ADD */
.pricing {
    margin-top: auto;
}

.price-bold {
    font-weight: 600;
}

.topic {
    overflow: hidden;
    text-overflow: ellipsis;
}